:root {
	--background-color: #f2ecbc;
	--text-color: #545464;
	--nav-fg: #545464;
	--header-bg: #e5ddb0;
	--header-bg: rgb(229, 221, 176, 0.6);
	--mode-button-bg: #9fb5c9;
	--drop-menu-bg: #e5ddb0;
	--drop-menu-highlight: #c9cbd1;
	/* --header-border: #e4e4e5; */
	--logo-fg: #1d1d1f;
	--hamburger-icon-fg: #5a7785;
	--hamburger-border: #d5cea3;
	--buble: #e5ddb0;
}

/* CSS attribute selector, selecting any element that has the attribute data-theme="dark". */
[theme="dark"] {
	--background-color: #181616;
	--text-color: #dcd7ba;
	--nav-fg: #c8c093;
	--header-bg: rgb(24, 22, 22, 0.8);
	--mode-button-bg: #dca561;
	--drop-menu-bg: #282727;
	--drop-menu-highlight: #223249;
	/* --header-border: #363638; */
	--logo-fg: #f5f5f7;
	--hamburger-icon-fg: #c8c093;
	--hamburger-border: #54546d;
	--buble: #282727;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('/public/fonts/FiraSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}


/* make footer stick */

.footer {
	margin-top: auto;
	padding: 2em 1em 6em 1em;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	color: rgb(var(--gray));
	text-align: center;
}

.underl {
	text-decoration-line: underline;
	text-decoration-color: var(--hamburger-border);
	text-decoration-thickness: 3px;
	text-underline-offset: 2px;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

#title {
	color: #3f9c1b;
	text-decoration: underline;
}

/* header */

.logo,
.logo-dark {
	width: 23px;
	height: auto;
	margin: 0px;
	padding: 0px;
}

.logo {
	display: inline;
}

.logo-dark {
	display: none;
}

body[theme="dark"] .logo {
	display: none;
}

body[theme="dark"] .logo-dark {
	display: inline;
}

.hey {
	margin: 0px;
	padding: 0px;
}

/* md blocks */
/* singe ticks */
code {
	padding: 2px 5px;
	background-color: var(--buble);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}


.bubble {
	background-color: var(--buble);
	border-radius: 6px;
	padding: 2% 2%;
	justify-content: center;

	display: flex;
	margin: 5% 0;
}

.bubble a {
	color: var(--text-color);
	text-decoration: underline;
}

.mode-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--mode-button-bg);
	border-radius: 8px;
	border: none;
	padding: 0;
	cursor: pointer;
}

nav {
	width: 900px;
	max-width: calc(100% - 2em);
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em;
}

nav a {
	color: var(--nav-fg);
	text-decoration: none;
	padding: 1em;
}

h2 {
	font-size: 1.2rem;
	margin: 0;
}

.dropdown-menu {
	position: absolute;
	right: 0;
	top: 125%;
	background-color: var(--drop-menu-bg);
	width: 200px;
	display: none;
	flex-direction: column;
	padding: 0.5rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#nav-toggle {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

.icon-container {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: none;
	border: 1px solid var(--hamburger-border);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: border-color 0.3s ease;
}

.icon-container svg path {
	stroke: var(--hamburger-icon-fg);
}

.dropdown-menu li {
	list-style: none;
	padding: 0.5rem 1rem;
}

.dropdown-menu a {
	text-decoration: none;
	color: var(--text-color);
	display: block;
	padding: 0.5rem;
}

.dropdown-menu a:hover {
	background: var(--drop-menu-highlight);
	border-radius: 4px;
}

.dropdown-menu.active {
	display: flex;
}

.hello {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	position: relative;
}

/* footer */

.social-links {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-top: 1em;
}

.social-links a {
	text-decoration: none;
	color: rgb(var(--gray));
}

.social-links a:hover {
	color: rgb(var(--gray-dark));
}

/* fix foot and head */
* {
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	margin: 0;
	/* font: 1.2em sans-serif; */
}

body {

	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Fira Sans';
	line-height: 1.5;
}

.wrapper {
	box-sizing: border-box;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

/* .page-header, */
.page-footer {
	padding: 20px;

	flex-grow: 0;
	flex-shrink: 0;
}

.page-body {
	padding: 20px;

	flex-grow: 1;
}

.header {
	background: var(--header-bg);
	position: sticky;
	top: 0;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 1000;
	transition: background 0.3s ease-in-out;
	/* border-bottom: 1px solid var(--header-border); */
}

@media (max-width: 720px) {
	.internal-links {
		display: none;
	}

	#nav-toggle {
		display: block;
	}
}
