---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores iusto
    rem fugiat quod veritatis inventore ab quam alias praesentium, eius
    molestias sapiente? Tempora blanditiis vitae est sequi saepe temporibus
    unde!
  </p>
</BaseLayout>
