---
import BaseLayout from "../layouts/BaseLayout.astro";
import ThreeViewer from "../components/ThreeViewer.astro";
---

<BaseLayout title="Contact">
  <div class="rlayout animate-on-load">
    <p>Info</p>
    <ThreeViewer />
  </div>
</BaseLayout>
