---
// No imports needed here
---

<button id="mode-icon" class="mode-button" onclick="toggleTheme()"> </button>

<script is:inline>
  const sunIcon = `
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="4" style="stroke:#1f1f28;"></circle>
      <path d="M12 2v2" style="stroke:#1f1f28;"></path>
      <path d="M12 20v2" style="stroke:#1f1f28;"></path>
      <path d="m4.93 4.93 1.41 1.41" style="stroke:#1f1f28;"></path>
      <path d="m17.66 17.66 1.41 1.41" style="stroke:#1f1f28;"></path>
      <path d="M2 12h2" style="stroke:#1f1f28;"></path>
      <path d="M20 12h2" style="stroke:#1f1f28;"></path>
      <path d="m6.34 17.66-1.41 1.41" style="stroke:#1f1f28;"></path>
      <path d="m19.07 4.93-1.41 1.41" style="stroke:#1f1f28;"></path>
    </svg>`;

  const moonIcon = `
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
      <path fill="#f2ecbc" d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
    </svg>`;

  function detectColors() {
    const modeIcon = document.getElementById("mode-icon");
    if (!modeIcon) return;

    if (localStorage.getItem("theme") === "dark") {
      document.body.setAttribute("theme", "dark");
      modeIcon.innerHTML = sunIcon;
    } else if (localStorage.getItem("theme") === "light") {
      document.body.setAttribute("theme", "light");
      modeIcon.innerHTML = moonIcon;
    } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.body.setAttribute("theme", "dark");
      modeIcon.innerHTML = sunIcon;
      localStorage.setItem("theme", "dark");
    } else {
      document.body.setAttribute("theme", "light");
      modeIcon.innerHTML = moonIcon;
      localStorage.setItem("theme", "light");
    }
  }

  function toggleTheme() {
    const modeIcon = document.getElementById("mode-icon");
    if (document.body.getAttribute("theme") === "dark") {
      document.body.setAttribute("theme", "light");
      modeIcon.innerHTML = moonIcon;
      localStorage.setItem("theme", "light");
    } else {
      document.body.setAttribute("theme", "dark");
      modeIcon.innerHTML = sunIcon;
      localStorage.setItem("theme", "dark");
    }
  }

  detectColors();
</script>
