.mode-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary);
	border-radius: 7px;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	transition: transform 0.2s ease-in-out;
}

.mode-button.animate {
	animation: wobble 0.8s ease-in-out;
}

@keyframes wobble {

	0%,
	100% {
		transform: translateX(0) rotate(0deg);
	}

	15% {
		transform: translateX(-5px) rotate(-5deg);
	}

	30% {
		transform: translateX(5px) rotate(5deg);
	}

	45% {
		transform: translateX(-5px) rotate(-3deg);
	}

	60% {
		transform: translateX(5px) rotate(3deg);
	}

	75% {
		transform: translateX(-2px) rotate(-1deg);
	}
}
