.mode-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary);
	border-radius: 7px;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	transition: transform 0.2s ease-in-out;
}

.mode-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary);
	border-radius: 7px;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	transition: transform 0.2s ease-in-out;
}

.mode-button svg {
	transition: transform 0.2s linear, opacity 0.15s linear;
}

.mode-button.animate svg {
	transform: rotate(180deg);
	opacity: 0.85;
}











