---
// DropDown.astro
---

<div class="dropdown-container">
  <button id="nav-toggle" aria-label="Toggle Navigation">
    <div class="icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="20"
        height="20"
        class="hamburger-icon"
      >
        <path
          class="line top-line"
          d="M3 6h18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          class="line middle-line"
          d="M3 12h18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          class="line bottom-line"
          d="M3 18h18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="x-icon hidden"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </div>
  </button>

  <div class="dropdown-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/rss.xml">RSS</a></li>
    <li><a href="/contact">Contact</a></li>
  </div>
</div>

<script is:inline>
  const dropdownMenu = document.querySelector(".dropdown-menu");
  const navToggleBtn = document.getElementById("nav-toggle");
  const hamburgerIcon = document.querySelector(".hamburger-icon");
  const xIcon = document.querySelector(".x-icon");

  function toggleDropdownMenu() {
    dropdownMenu.classList.toggle("active");
    hamburgerIcon.classList.toggle("hidden");
    xIcon.classList.toggle("hidden");
  }

  navToggleBtn.addEventListener("click", toggleDropdownMenu);

  document.addEventListener("click", function (e) {
    if (
      dropdownMenu.classList.contains("active") &&
      !dropdownMenu.contains(e.target) &&
      !navToggleBtn.contains(e.target)
    ) {
      dropdownMenu.classList.remove("active");
      hamburgerIcon.classList.remove("hidden");
      xIcon.classList.add("hidden");
    }
  });
</script>
