---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings = [] } = Astro.props;
---

<nav class="toc">
  <ul>
    {
      headings
        .filter(({ depth }) => depth >= 1 && depth <= 2)
        .map((heading) => (
          <li class={`depth-${heading.depth}`}>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))
    }
  </ul>
</nav>

<style>
  html {
    scroll-behavior: smooth;
  }

  .toc {
    display: block;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--time);
    max-height: 80vh;
    overflow-y: auto;
  }

  .toc::-webkit-scrollbar {
    width: 8px;
  }

  .toc::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .toc::-webkit-scrollbar-thumb {
    background-color: var(--mode-button-bg);
    border-radius: 4px;
  }

  .toc::-webkit-scrollbar-thumb:hover {
    background-color: var(--h1-color);
  }

  .toc .depth-1 a {
    font-weight: bold;
    color: var(--h1-color);
  }

  .toc .depth-2 a {
    color: var(--text-secondary);
  }

  .toc ul {
    list-style: none;
    padding: 0;
  }

  .toc li {
    margin-bottom: 0.5rem;
  }

  .toc a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s ease-in-out;
    display: block;
    padding: 0.2em 0;
  }

  .toc a:hover {
    color: var(--mode-button-bg);
  }

  .toc .depth-2 {
    margin-left: 1rem;
    font-size: 0.9em;
  }
</style>
